:root {
    /* Colors */
    --primary-color: #1da1f2;
    --secondary-color: #1991db;
    --background-color: #15202b;
    --card-background: #192734;
    --text-color: #ffffff;
    --muted-text-color: #8899a6;
    --border-color: #38444d;

    /* Font sizes */
    --h1-font-size: 2rem;
    --h1-font-size-sm: 1.25rem;
    --font-size: 1rem;
    --font-size-sm: 0.9rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 10vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 15px 30px;
}

nav img {
    height: 50px;
    width: auto;
}

nav .nav-links {
    display: flex;
    gap: 8vw;
}

nav .nav-links a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.15rem;
    transition: color 0.3s ease;
}

nav .nav-links a:hover {
    color: var(--secondary-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    color: var(--primary-color);
    font-size: var(--h1-font-size);
    margin-bottom: 20px;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    font-size: var(--font-size);
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.01);
}

#results {
    margin: 20px auto;
    text-align: left;
    border: 1px solid var(--border-color);
    background-color: var(--card-background);
    padding: 15px;
    border-radius: 10px;
}

.pre-wrapper {
    position: relative;
}

pre {
    padding: 15px;
    background: var(--card-background);
    color: var(--muted-text-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: auto;
}

.copy-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: var(--font-size-sm);
}

/* Disabled style, while scraping again */
#run-again-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#not-found {
    max-width: 95%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Responsive styles */
@media (max-width: 768px) {
    h1 {
        font-size: var(--h1-font-size-sm);
    }

    button {
        font-size: var(--font-size-sm);
        padding: 8px 16px;
    }

    pre {
        padding: 30px 15px 10px;
    }
}
