<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>404: Page Not Found</title>
	<link rel="stylesheet" href="../static/style.css" />
</head>

<body>
	<main>
		<div class="container" style="box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);">
			<img id="not-found" src="/static/404.jpeg" alt="404 - Page Not Found" loading="lazy" />
			<h1>Oops! Page Not Found</h1>
			<p>The page you’re looking for doesn’t exist.</p>
			<button onclick="window.location.href='/'">Return Home</button>
		</div>
	</main>
</body>

</html>