{% extends "index.html" %}

{% block title %}All Records{% endblock %}

{% block content %}

<div class="container">
    <h1>All Records</h1>
    <div id="results" style="max-height: 70vh; overflow-y: auto;"> <!-- Added a scrollbar for readability -->
        {% for record in entries %}
        <div class="pre-wrapper">
            <pre>
<h4 style="margin: 0">Record {{ loop.index }}:</h4>
id: {{ record._id }}
nameoftrend1: {{ record.nameoftrend1 }}
nameoftrend2: {{ record.nameoftrend2 }}
nameoftrend3: {{ record.nameoftrend3 }}
nameoftrend4: {{ record.nameoftrend4 }}
nameoftrend5: {{ record.nameoftrend5 }}
timestamp: {{ record.timestamp }}
ip_address: {{ record.ip_address }}
                    </pre>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}