<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- Styles -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="192x192" href="../static/icon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/icon/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="../static/icon/favicon.ico">
    <!-- Twitter icon -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>
    <nav>
        <img src="../static/icon/logo.png" alt="Logo" width="50" height="50">
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/db">All Records</a>
        </div>
    </nav>

    {% block content %}<!-- Content from the child templates to be inserted -->{% endblock %} 
</body>

</html>
